.form{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.input{
    margin: 8px 0;
    box-sizing: border-box;
}